body {
  background-color: #f5f5f5;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

a {
  text-decoration: none;
  color: black;
  margin: 25px;
}

ul {
  padding-left: 20px;
}

li {
  list-style-type: none;
  text-align: left;
  margin-bottom: 5px;
}

.container {
  min-height: 800px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

.input__button {
  box-sizing: border-box;
  display: block;
  width: 100%;
  background-color: #007bff;
  border-radius: 0.3rem;
  padding: 12px 25px;
  border-color: #007bff;
  cursor: pointer;
  font-size: 25px;
  color: #fff;
  margin-top: 25px;
}

.input__text {
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
  width: 100%;
  margin-top: 25px;
}

.input__button:hover {
  background-color: #fff;
  color: #007bff;
}

.link__out {
  position: absolute;
  right: 50px;
  top: 10px;
  font-size: 20px;
  color: grey;
}

.link__home {
  position: absolute;
  right: 50px;
  top: 25px;
  font-size: 20px;
  color: grey;
}

.login__form {
  font-size: 25px;
}

.question__text {
  font-size: 1.75rem;
  margin-bottom: 1rem;
}

.user__page {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  top: 0;
}

.user__page h1 {
  text-transform: capitalize;
  border-bottom: 1px solid black;
}

.deck {
  box-sizing: border-box;
  display: block;
  width: 100%;
  background-color: #007bff;
  border-radius: 0.3rem;
  padding: 60px 25px;
  font-weight: bold;
  border: 1px solid #427bb8;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  font-size: 30px;
  color: #fff;
}

.deck__div {
  margin: 25px;
}

.deck:hover {
  background-color: #fff;
  color: #007bff;
}

.title__games {
  margin-top: 50px;
}

.old___games {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;
  align-content: flex-start;
}

.old__card {
  box-sizing: border-box;
  display: block;
  width: 100%;
  background-color: #dc3545;
  border-radius: 0.3rem;
  padding: 20px 15px;
  font-weight: bold;
  border: 1px solid #dc3545;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  font-size: 20px;
  color: #fff;
}

.old__card:hover {
  background-color: #fff;
  color: #dc3545;
}

.old__card__div {
  margin: 25px;
}

.done {
  border: 1px solid #28a745;
  background-color: #28a745;
}

.done:hover {
  background-color: #fff;
  color: #28a745;
}
