<div class="login__form">
  <h1>Flashcards Dreamteam</h1>
  <p>My dear guest, please, write your login to play this amazing game.</p>
  <form name='login' action="/profile" method="post">
    <label>Your name: <input class="input__text" name="login" type="text" /></label>
    <button class="input__button" type="submit">Log In</button>
  </form>
</div>
