<a id="home" class="link__home" href="../../profile">Home</a>
<form id="answer" name="">
  <h1 id="question"></h1>
  <input class="input__text" type="text" name="currentAnswer" placeholder="Введите ответ">
  <input class="input__button" type="submit" value="Ответить">
</form>
